# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.VJ20212.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ludk\Documents\Unity Games\VJ20212\.idea\.idea.VJ20212\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
